<div id='current_day'>
  <h3>Today's forecast (<%= Date.today %>)</h3>
  <h4><%= day.description%></h4>
  <p><%= image_tag day.icon%>
  <p>Temperature: <%= temp(day.temperature) %></p>
  <p>High: <%= temp(day.temp_max) %></p>
  <p>Low: <%= temp(day.temp_min) %> </p>
</div>