<h2><%= @forecast[:location] %></h2>
<div id='current_day_container'>
  <%= render 'current_day', day: @forecast[:current] %>
  <div id='map_container'>
    <iframe id='map' width="425" height="300" src="<%= map_url %>" style="border: 1px solid black"></iframe>
    <%= link_to "View larger map", map_link, target: '_blank' %>
  </div>
</div>
<div id='extended_forecast_container'>
  <% @forecast[:days].each do |day, low_high|%>
    <%= render 'extended_forecast_day', day: day, low_high: low_high %>
  <% end %>
</div>