<h1 id='title'>
  <a href='/'>TS Weather Forcaster</a>
</h1>
<p>
  Welcome to the TS Weather Forcaster.  
  <br>
  Please enter a zip code to get the current weather.
</p>
<p>
  <form id='weather_request_form'>
    <input type='text' id='address' name='address' placeholder='Address, City/Country, or Zip Code' />
    <input type='submit' id='form_button' value='Get Weather' />
  </form>
</p>
<% if @forecast %>
  <h2><%= @forecast[:location] %></h2>
  <% @forecast[:days].each do |day|%>
    <div class='day'>
      <h3><%= day.description%> <%= day.emoji %></h3>
      <p>Time: <%= day.time %></p>
      <p>Temprature:<%= day.temperature %></p>
      <p>Max: <%= day.temp_max %></p>
      <p>Min: <%= day.temp_min %></p>
    </div>
    <% end %>
<% end %>