<h1 id='title'>
  <a href='/'>TS Weather Forcaster</a>
</h1>
<p>
  Please enter any of the following:
  <ul>
    <li> an address </li>
    <li> city </li>
    <li> city & state </li>
    <li> city & country </li>
  </ul>
  ...to get the current weather for that location.
</p>
<p>
  <form id='weather_request_form'>
    <input type='text' id='address' name='address' value="<%= params[:address] %>" params placeholder='Address, City/Country, or Zip Code' />
    <input type='submit' id='form_button' value='Get Weather' />
  </form>
</p>
<% if @forecast %>
  <h2><%= @forecast[:location] %></h2>
  <div id='current_day_container'>
    <%= render 'current_day', day: @forecast[:current] %>
    <div id='map_container'>
      <iframe id='map' width="425" height="300" src="<%= map_url %>" style="border: 1px solid black"></iframe>
      <%= link_to "View larger map", map_link, target: '_blank' %>
    </div>
  </div>
  <div id='extended_forecast_container'>
    <% @forecast[:days].each do |day, low_high|%>
      <%= render 'extended_forecast_day', day: day, low_high: low_high %>
    <% end %>
  </div>
<% end %>