<h1 id='title'>
  <a href='/'>TS Weather Forcaster</a>
</h1>
<p>
  Welcome to the TS Weather Forcaster.  
  <br>
  Please enter a zip code to get the current weather.
</p>
<p>
  <form id='weather_request_form'>
    <input type='text' id='address' name='address' value="<%= params[:address] %>" params placeholder='Address, City/Country, or Zip Code' />
    <input type='submit' id='form_button' value='Get Weather' />
  </form>
</p>
<% if @forecast %>
  <h2><%= @forecast[:location] %></h2>
  <iframe width="425" height="350" src="<%= map_url %>" style="border: 1px solid black"></iframe>
  <small><%= link_to "View Larger Map", map_link, target: '_blank' %></small>
  <% @forecast[:days].each do |day, low_high|%>
    <div class='day'>
      <h3><%= day %>
      <h4><%= low_high.first.description%> <%= low_high.first.emoji %></h4>
      <p>Day: <%= day %></p>
      <p>Max: <%= low_high[1].temp_max.round %></p>
      <p>Min: <%= low_high[0].temp_min.round %></p>
    </div>
    <% end %>
<% end %>