<!DOCTYPE html>
<html>
  <head>
    <title>TS Weather</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <footer>
      Created by <a href='https://www.linkedin.com/in/abelmartin' target='_blank' >Abel Martin</a> |
      Powered by <a href='https://openweathermap.org/' target='_blank'>Open Weather Map</a> &
      <a href='https://openstreetmap.org/' target='_blank'>Open Street Map</a>
    </footer>
  </body>
</html>
